{{#each comments as |comment|}}
  <p>Name: {{comment.name}}</p>
  <p>Comment: {{comment.content}}</p>
  <button class="btn" {{action "deleteComment" comment}}>Delete</button>
  {{!-- <button class="btn" {{action "showUpdate" post}}>Update</button> --}}
  <hr>
{{/each}}
