{{#each model as |post|}}
  <h4>{{post.title}}</h4>
  <button class="btn" {{action "deletePost" post}}>Delete</button>
  <button class="btn" {{action "updatePost" post}}>Update</button>
  <hr>
{{/each}}
