body {
  background-color: DarkSlateGray;
  color: white;
  font-family: 'Raleway', sans-serif;
}

//header
.pagename {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

//links
a, a:visited, a:active {
  color: white;
}

//navbar
.navbar {
  // background-color: midnightblue;
}

//posts
.posts {
  // float:right;
  .title {
    text-align: center;
  }
  .date{
    text-align: right;
 }
  .content{
  }
  img{
    max-width: 600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
}


.about {
  text-align: center;

  img {
    border-radius: 50%;
  }
}

.footer {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.aboutme {
  margin-top: 5%;
}
