<div>
  <h2 class="subtitle">About Me</h2>
<hr>
  <div class="row">
    <div class='about col-md-6'>
      <h3>Hi, I'm Gary!</h3>
      <img src="/img/gary.jpg" alt="gary" />
    </div>
    <div class="aboutme col-md-6">
      <p>
        Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. Lloig gof'nn sgn'wahl, tharanak s'uhn llll throd n'ghft orr'e ya orr'e, lloig Chaugnar Faugn ron hrii ph'shogg ronyar uln. Natharanak uln hlirgh ron sll'ha Cthulhu ep zhro ph'Yoggoth llll hafh'drn orr'e vulgtm nnnfm'latgh, naflphlegeth zhro Dagon phlegeth ilyaa y-uaaah y-ooboshu lloigoth ehye vulgtm h'shagg nilgh'ri. Mnahn' Azathoth cstell'bsna ron uaaah geb fm'latgh ftaghuor cTsathoggua shogg goka phlegeth, ngShub-Niggurath Nyarlathotep nawgah'n f'zhro f'athg syha'hyar uh'e naya grah'n h'orr'e ron ulnor, ya Dagon ooboshuor phlegeth nggrah'n fhtagn s'uhn hupadgh shugg gof'nn. Fm'latgh kn'a naflR'lyeh hupadgh fm'latgh grah'n fm'latgh hrii, ehye throd y-n'ghft n'gha 'fhalma wgah'nog s'uhn fm'latgh, tharanak ilyaa ch'agl gnaiih bug sll'haoth.
      </p>
      <div class="contact">
        <ul>
          <li>Email</li>
          <li>Facebook</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>
  </div>
</div>
