<div class="row">
  <div class="col-md-6">
    {{new-post savePost="savePost"}}
  </div>
  <div class="col-md-6">
    <h2 class="subtitle">Edit/Delete Posts</h2>
    {{edit-delete model=model deletePost='deletePost'}}

  </div>
</div>
