<div class="container">
  <header>
    <h1 class="pagename">Innsmouth Live(ish)</h1>
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      </ul>
    </nav>
  </header>
  {{outlet}}
  <footer>
  <p class="footer">
    Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn
  </p>
  </footer>
</div>
