<div class="container">
  <header>
    <h1>Innsmouth Live(ish)</h1>
    {{!-- {{#link-to 'index'}}Home{{/link-to}} --}}
    {{#link-to 'about'}}About{{/link-to}}
    {{!-- {{#link-to 'admin'}}Admin{{/link-to}} --}}
  </header>
  {{outlet}}
  <footer>
  <p>
    Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn
  </p>
  </footer>
</div>
